<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestZZG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestZZG.Properties.Settings>
            <setting name="Port1" serializeAs="String">
                <value>COM110</value>
            </setting>
            <setting name="Port2" serializeAs="String">
                <value>COM21</value>
            </setting>
            <setting name="Name1" serializeAs="String">
                <value>ZZG_BEV001</value>
            </setting>
            <setting name="Name2" serializeAs="String">
                <value>ZZG_BEV002</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>ZZGlogging.log</value>
            </setting>
            <setting name="PollingMinutes" serializeAs="String">
                <value>1</value>
            </setting>
        </TestZZG.Properties.Settings>
    </applicationSettings>
</configuration>